nav {
    width: 100%;
    height: 70px;
    float: right ;
    display: flex;
    flex-direction: row nowrap;
    align-content: center;
    font-size: 12;
    float : none;
}
.nav-child {
    margin: 8px ;
    margin-top: 20px;
}
.logo-udemy {
    width: 91px;
    height: 34px;
    margin : 10px 15px 20px 25px;
}
.search-butn {
    margin : 3px 0px 0px 15px;
    width: 20px;
    height: 20px;
}
.search-div {
    border: solid black;
    margin-top: 0px;
    width: 30%;
    border-radius: 30px;
}
.form1 {
    height: 35px;
    border-radius: 20px;
    border: solid black;
    border-color: black;
    display: inline-block;
    flex-grow: 1;
}
.text-input-search{
    margin: 5px;
    width : 85%;
    display: inline;
    border-color: white;
}
.nav-sign-in{
    border: solid black;
    margin: 5px;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 30px;

}
.nav-sign-up{
    background-color: black;
    color: white;
    margin: 5px;
    padding: 8px;
    text-align: center;
    display: flex;
    justify-content: center;
    height: 35px;
}
.new-udemy{
    padding: 20px;
    width: 350px;
    height: 200px;
    display: inline-block;
    margin: 30px;
}
#stop-watch { 
    float: right;
    display: inline-block;
    margin: 30px 200px 30px 30px;
}
.main-margin {
    margin-left: 100px;
}
.courses {
    background-color: floralwhite;
    margin: 30px 60px 30px 60px;
}
#explore-python{
    border: 2px solid black;
    width: 120px;
    text-align: center;
    margin: 10px 0px;
}
@media (max-width: 1000px) {
    .nav-sign-in , .nav-sign-up{
        display: none;
    }
}
@media (max-width: 875px) {
    .remov{
        display: none;
    }
}
.python-courses {
    flex-direction: row wrap;
}
.courses {
    display: inline-block;
}
.courses .container .courses_reco li img{
    border-style: solid;
    border-width: 1px;
    border-color: grey;
}
.title{
    font-size: 15px;
    margin: 5px;
}
.author{
    font-weight: 500;
    font-size: 15px;
    margin: 5px;
}

.price{
    font-size: 15px;
    margin: 5px;
}
.main-python-courses{
    display: flex;
    flex-wrap: wrap;
}
.python-course{
    display: inline-block;
}